<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자화면</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $('#selectAll').on('click', function () {

                var checked = $(this).is(':checked');
                console.log(checked);


                $('#dataList input[type=checkbox]').each(function (k, v) {
                    $(this).prop('checked', checked);
                });


            });

            $('#selDelete_btn').on('click', function () {

                var $checked = $('#dataList input[type=checkbox]:checked');
                if ($checked.length < 1) {
                    alert(' 삭제할 데이터를 선택해 주세요. ');
                    return false;
                }

                if (!confirm(' 선택한 데이터를 삭제하시겠습니까? ')) {
                    return false;
                }

                let idList = [];
                $.each($checked, function (k, v) {
                    idList.push($(this).val());
                });

                console.log(idList);
                console.log(idList.join(','));

                let $deleteForm = $('form[name=deleteForm]');
                $deleteForm.find('input[name=idList]').val(idList.join(','));
                $deleteForm.submit();

            });


        });
    </script>
</head>
<body>
<div th:replace="/fragment/header.html :: fragment-admin-menu"></div>
<h1>관리자 회원 관리</h1>

<div>
    <div class="buttons">
        <p class="total-count">전체<span th:text="${totalCount}"></span>개</p>
        <button id="selDelete_btn" type="button">선택삭제</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <td><input id="selectAll" type="checkbox"/></td>
            <td>No</td>
            <td>이름</td>
            <td>이메일</td>
            <td>Ip</td>
            <td>등록일자</td>
            <td>수정일자</td>
            <td>거주지</td>
            <td>회원권한</td>
            <td>회원상태</td>
            <td>#</td>
        </tr>
        </thead>
        <tbody id="dataList">
        <tr th:each="x : ${list}">
            <td>
                <input type="checkbox" th:value="${x.id}"/>
            </td>
            <td th:text="${x.id}">
                <input class="form-control" type="hidden" name="id"
                       th:value="${x.id}" readonly/>
                <p th:text="${x.id}">1</p>
            </td>
            <td>
                <p name="name" type="text"  th:text="${x.name}"/>
            </td>
            <td>
                <p name="email" type="text" th:text="${x.email}"/>
            </td>
            <td>
                <p name="ip" type="text"  th:text="${x.ip}"/>
            </td>
            <td>
                <p name="regDt" type="text"  th:text="${x.regDt}"/>
            </td>
            <td>
                <p name="upDt" type="text"   th:text="${x.upDt}"/>
            </td>
            <td>
                <p name="registration" type="text"  th:text="${x.registration}"/>
            </td>
            <td>
                <select name="memberStatus" th:value="${x.memberStatus}">
                    <option th:each="StatusValues: ${T(com.zerobase.luffy.member.type.MemberCode).values()}"
                            th:text="${StatusValues.name()}"
                            th:selected="${StatusValues.name() == x.memberStatus}">
                    </option>
                </select>
            </td>
            <td>
                <select name="ROLE" th:value="${x.ROLE}">
                    <option th:each="StatusValues: ${T(com.zerobase.luffy.member.type.MemberRole).values()}"
                            th:text="${StatusValues.name()}"
                            th:selected="${StatusValues.name() == x.ROLE}">
                    </option>
                </select>

            </td>
            <td>
                <div class="inline-div">
                    <button id="update-button"  class="btn btn-outline-warning" type="button">수정</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<form name="deleteForm" method="post"
      action="/admin/member/delete">
    <input type="hidden" name="idList"/>

</form>

<form method="post" name="updateForm" action="/admin/main/update">
    <input  type="hidden" name="id" />
    <input type="hidden" name="ROLE"/>
    <input type="hidden" name="memberStatus"/>


</form>

<script>
    $(document).ready(function () {


        $('.inline-div #update-button').on('click', function () {

            if (!confirm("해당회원을 수정하시겠습니까?")) {
                return false;
            }
            var $this = $(this);
            var $tr = $this.closest('tr');

            var id = $tr.find('input[type=checkbox]:checked').val();
            var ROLE = $tr.find('select[name=ROLE]').val();
            var memberStatus = $tr.find('select[name=memberStatus]').val();


            console.log(id);
            console.log(ROLE);
            console.log(memberStatus);



            var $updateForm = $('form[name=updateForm]');
            $updateForm.find('input[name=id]').val(id);
            $updateForm.find('input[name=ROLE]').val(ROLE);
            $updateForm.find('input[name=memberStatus]').val(memberStatus);

            $updateForm.submit();
        });





    });

</script>

</body>
</html>