<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인화면</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/category.css" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragment/header.html :: fragment-body-menu"></div>
</header>
<h1>로그인 화면 </h1>
<div>
  <form action="/member/login" method="post">
    <input type="text" name="username" placeholder="아이디를 입력하세요"> <br/>
    <input type="password" name="password" placeholder="비밀번호를 입력하세요"> <br/>
  <button>로그인</button>
  </form>
        <a href="/member/register">아직 회원가입을 안하셨나요?</a>
        <a href="/manager/login">아직 등록을 안하셨나요?</a>
</div>
<div th:replace="/fragment/footer.html ::fragment-footer"></div>

</body>
</html>