<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/category.css" rel="stylesheet">
    <style>
        h1 {
            font-family: "Century Gothic", serif;
            text-decoration: underline;
            padding-bottom: 20px;
            text-align: center;
            font-weight: bold;

        }
        .numbersPage {
            text-align: center;
            font-weight: bold;
        }
        .numbersPage a {
            color:black;
        }


    </style>
</head>
<body>
<div id="wrap">
    <header>
        <div th:replace="/fragment/header.html :: fragment-body-menu"></div>
    </header>
    <div th:replace="/fragment/category.html ::fragment-cate-menu"></div>
    <br/>

    <article>
        <section class="container">
            <h1>MyPackage</h1>
            <div class="row">
                <div class="container table-bordered-center">
                <table class="table table-light table-hover">

                <thead>
                <tr>
                    <th><input  class="form-check" type="checkbox" id="selectAll"/>Check</th>
                    <th scope="col">No</th>
                    <th scope="col">주문코드</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>

                </tr>
                </thead>
                <tbody id="dataList">
                <tr th:each=" x :${item}">
                    <th scope="row"><input th:value="${x.orderId}" class="form-check" name="selectId" type="checkbox" id="selectId"/></th>
                    <td th:text="${x.orderId}">
                        <input type="hidden" name="id" th:value="${x.orderId}"/>
                    </td>
                    <td th:text="${x.orderCode}"></td>
                    <td th:text="${x.productName}"></td>
                    <td th:text="${x.price}"></td>
                </tr>
                </tbody>
            </table>

                    <div class="buttonArea">
                                <div style=" float: left;">
                                     <button id="sendBtn" onclick="clickSend()" class="btn btn-outline-dark">결재하러가기</button>
                                </div>
                                <div style="float: right;">
                                    <button  type="submit" id="BtnDel" name="BtnDel" class="btn btn-outline-danger">주문취소</button>
                                </div>
                    </div>
                    <div class="numbersPage" >
                        <th:block th:each="page: ${#numbers.sequence(startPage,totalNum)}" th:if="${totalNum > 0}">
                            <a th:if="${page!=nowPage}" th:href="@{/member/myPackage(page = ${page - 1})}"  th:text="${page}"></a>
                            <strong th:if="${page == nowPage}" th:text="${page}" style="color:red"></strong>
                        </th:block>
                        <th:block th:each="page: ${#numbers.sequence(startPage,totalNum)}" th:if="${totalNum < 0}">
                            <strong th:if="${page == nowPage}" th:text="${page}" style="color:red"></strong>
                        </th:block>
                    </div>
                </div>

            </div>
        </section>
    </article>
    <form name="submitForm" method="get" action="/payment/listCreate">
        <input type="hidden" name="idList"/>
    </form>

    <form name="deleteForm" method="post" action="/order/delete">
        <input type="hidden" name="idList"/>
    </form>



    <div th:replace="/fragment/footer.html ::fragment-footer"></div>
</div>

<script th:inline="javascript">
    let checkedCount ;
    $(document).ready(function(){

    $('#selectAll').on('click', function() {

        var checked = $(this).is(':checked');
        checkedCount =$("input:checkbox[name=selectId]:checked").length;
        console.log(checked);
        console.log(checkedCount);


        $('#dataList input[type=checkbox]').each(function(k, v) {
            $(this).prop('checked', checked);

        });
    });
        $('#BtnDel').on('click', function() {

            var $checked = $('#dataList input[type=checkbox]:checked');
            if ($checked.length < 1) {
                alert(' 삭제할 데이터를 선택해 주세요. ');
                return false;
            }

            if (!confirm(' 선택한 데이터를 삭제하시겠습니까? ')) {
                return false;
            }

            let idList = [];
            $.each($checked, function(k, v) {
                idList.push($(this).val());
            });

            console.log(idList);
            console.log(idList.join(','));
            alert(idList);

            let $deleteForm = $('form[name=deleteForm]');
            $deleteForm.find('input[name=idList]').val( idList.join(',') );
            $deleteForm.submit();

        });


    });
    function clickSend() {

        let $checked = $('#dataList input[type=checkbox]:checked');
        let len = $checked.length;
        console.log($checked);
        console.log(len);
        if(2>len || len> 0){

                let idList = [];
                $.each($checked, function(k, v) {
                    idList.push($(this).val());
                });
                alert( "list 확인:"+idList);

            location.href="/payment/create/"+idList[0];
            /*    let $sendForm = $('form[name=submitForm]');
                $sendForm.find('input[name=idList]').val( idList.join(',') );
                $sendForm.submit();*/
        }
    }
</script>
</body>
</html>