<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/category.css" rel="stylesheet">
    <style>
        h1 {
            font-family: "Century Gothic", serif;
            text-decoration: underline;
            padding-bottom: 20px;
            text-align: center;
            font-weight: bold;

        }
    </style>
</head>
<body>
<div id="wrap">
    <header>
        <div th:replace="/fragment/header.html :: fragment-body-menu"></div>
    </header>
    <div th:replace="/fragment/category.html ::fragment-cate-menu"></div>
    <br/>

    <article>
        <section class="container">
            <h1>MyPackage</h1>
            <div class="row">
                <div class="col-12 col-md-6 mb-3 mb-lg-0">
                <table class="table table-light table-hover">

                <thead>
                <tr>
                    <th><input  class="form-check" type="checkbox" id="selectAll"/>Check</th>
                    <th scope="col">No</th>
                    <th scope="col">주문코드</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>

                </tr>
                </thead>
                <tbody id="dataList">
                <tr th:each=" x :${item}">
                    <th scope="row"><input  class="form-check" type="checkbox" id="selectId"/></th>
                    <td th:text="${x.orderId}"></td>
                    <td th:text="${x.orderCode}"></td>
                    <td th:text="${x.productName}"></td>
                    <td th:text="${x.totalPrice}"></td>
                </tr>
                </tbody>
            </table>
                    <button type="submit" name="BtnDel" class="btn btn-outline-danger">주문취소</button>
            </div>
                <div class="col-12 col-md-6 ">
                <h2>
                <dl class="row">

                    <dt class="col-sm-9">결재할 주문 건 수</dt>
                    <dd class="col-sm-3"><p>0개</p></dd>
                </dl></h2>
                 <div class="buttonArea">
                     <span><button class="btn btn-dark">결재하러가기</button></span>
                     <span><button class="btn btn-dark" >리뷰작성</button></span>

                 </div>
                </div>
            </div>
        </section>
    </article>


    <div th:replace="/fragment/footer.html ::fragment-footer"></div>
</div>

<script th:inline="javascript">

    $('#selectAll').on('click', function() {

        var checked = $(this).is(':checked');
        console.log(checked);


        $('#dataList input[type=checkbox]').each(function(k, v) {
            $(this).prop('checked', checked);
        });

        $('#selDelete_btn').on('click', function() {

            var $checked = $('#dataList input[type=checkbox]:checked');
            if ($checked.length < 1) {
                alert(' 삭제할 데이터를 선택해 주세요. ');
                return false;
            }

            if (!confirm(' 선택한 데이터를 삭제하시겠습니까? ')) {
                return false;
            }

            let idList = [];
            $.each($checked, function(k, v) {
                idList.push($(this).val());
            });

            console.log(idList);
            console.log(idList.join(','));

            let $deleteForm = $('form[name=deleteForm]');
            $deleteForm.find('input[name=idList]').val( idList.join(',') );
            $deleteForm.submit();

        });

    });
</script>
</body>
</html>