<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/category.css" rel="stylesheet">

</head>
<body>
<div id="footerMain" th:fragment="fragment-footer">
    <footer>
        <nav>
            <a href='https://cocoder.tistory.com' target='_blank'>Blog</a> |
            <a href='https://github.com/cocoder16' target='_blank'>Github</a>
        </nav>
        <p>
            <span>저자 : cocoder</span><br/>
            <span>이메일 : cocoder16@gmail.com</span><br/>
            <span>Copyright 2020. cocoder. All Rights Reserved.</span>
        </p>
    </footer>
</div>

</body>
</html>