<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/category.css" rel="stylesheet">

</head>
<body>
<div id="footerMain" th:fragment="fragment-footer">
    <footer>
        <nav>
            <a href='https://velog.io/@moonlt93' target='_blank'>Blog</a> |
            <a href='https://github.com/moonlt93' target='_blank'>Github</a>
        </nav>
        <p>
            <span>저자 : moonlt93</span><br/>
            <span>이메일 : moonlt932@gmail.com</span><br/>
            <span>Copyright 2022.11 js. All Rights Reserved.</span>
        </p>
    </footer>
</div>

</body>
</html>