<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div th:fragment="fragment-body-menu">
        <a  sec:authorize="isAnonymous()" href="/member/register"> | 회원가입</a>
        <a  sec:authorize="isAnonymous()"  href="/member/login"> | 로그인</a>
        <a  sec:authorize="isAuthenticated()"  href="/member/logout"> | 로그아웃</a>
        <a sec:authorize="isAuthenticated()" href="/member/myPage"> | 마이페이지</a>
        <a sec:authorize="hasRole('ADMIN')" href="/admin/main"> | 관리자페이지</a>|
        <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" href="/manager/main"> | 매니저페이지</a>
    </div>
    <hr/>
</div>


<div>
    <div th:fragment="fragment-my-menu">
        <a  href="/"> | 홈으로</a>
        <a  sec:authorize="isAnonymous()"  href="/member/login"> | 로그인</a>
        <a  sec:authorize="isAuthenticated()"  href="/member/logout"> | 로그아웃</a>
        <a sec:authorize="isAuthenticated()" href="/member/myPage"> | 마이페이지</a>
    </div>
    <hr/>
</div>


<div>
    <div th:fragment="fragment-admin-menu">
        <a href="/admin/product/list"> | 상품관리</a>
        <a href="/admin/member"> | 회원관리</a>
        <a href="/admin/manager/list"> | BM관리</a>
        <a href="/admin/log"> | 로그확인</a>
        <a href="/admin/company/list"> | 회사관리</a>
        <a href="/admin/category/list"> | 카테고리관리</a>
        <a href="/admin/main"> | 관리자페이지</a>|
        <a href="/"> | 메인화면</a>|
    </div>
    <hr/>
</div>


<div>
    <div th:fragment="fragment-bm-menu">
        <a href="/manager/product/list"> | 상품관리</a>
        <a href="/manager/register"> | 브랜드매니저등록</a>
        <a href="/manager/log"> | 로그확인</a>
        <a href="/manager/main"> | 브랜드매니저메인</a>|
        <a href="/"> | 메인화면</a>|
    </div>
    <hr/>
</div>


</body>
</html>