<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="/fragment/header.html :: fragment-my-menu"></div>
<h1>마이페이지</h1>
<div>
    <form name="updateForm" id="updateForm" action="/admin/manager/update"
          method="post">
        <table class="table">
            <tbody>
            <tr>
                <td>회사명</td>
                <td>
                    <p th:text="${list.companyName}"></p>
                </td>
            </tr>
            <tr>
                <td>No</td>
                <td>
                    <p th:text="${list.id}"></p>
                    <input id="id" name="id" type="hidden"
                           th:value="${list.id}"/>
                </td>
            </tr>
            <tr>
                <td>이름</td>
                <td>
                    <p th:text="${list.managerName}"></p>
                </td>
            </tr>
            <tr>
                <td>연락처</td>
                <td>
                    <p th:text="${list.managerCall}"></p>
                </td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>
                    <p th:text="${list.managerEmail}"></p>
                </td>
            </tr>
            <tr>
                <td>권한</td>
                <td>
                  <select id="memStatus" name="memberStatus" th:value="${list.memberStatus}">
                      <option th:each="difficultyValue : ${T(com.zerobase.luffy.member.type.MemberCode).values()}"
                              th:text="${difficultyValue.name()}"
                              th:selected="${list.memberStatus} ? ${difficultyValue.ING} :${difficultyValue.UNREGISTERED}">

                      </option>

                  </select>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <button id="modify_btn" type="submit">수정</button>
        </div>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {


        $("#modify_btn").on('click', function () {

            if (!confirm("정말 수정하시겠습니까?")) {
                return false;
            }

        });

    });


</script>

</body>
</html>

<!--
-->