<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
</head>
<style>
    img {
        width: 150px;
        height: 100px;
    }
    .numbersPage {
        text-align: center;
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .numbersPage strong {
        font-size: 20px;
        font-weight: bold;
    }
</style>
<body>
<div th:replace="/fragment/header.html :: fragment-admin-menu"></div>
<h1>회사리스트</h1>
<br/>

<div class="button">
    <a  class="btn btn-primary" href="/admin/company/create">제품등록</a>
    <button class="btn btn-danger" id="deleteBtn" type="button">선택삭제</button>

    <div class="searchForm" style="float:right">
        <form action="/admin/company/list" method="get">
            <input type="text" name="keyword" >
            <button type="submit">검색</button>
        </form>

    </div>
</div>


<div>
    <table class="table">
        <thead>
        <tr>
            <td>
                <input id="selectAll" type="checkbox"/>
            </td>
            <td>
                NO
            </td>
            <td>
                사명
            </td>
            <td>
                회사번호
            </td>
            <td>
                회사주소
            </td>
            <td>
                회사도메인주소
            </td>
            <td>
                이벤트여부
            </td>
            <td>
                status
            </td>

        </tr>
        </thead>
        <tbody id="dataList">
        <tr th:each="x : ${company}">

            <td>
                <input type="checkbox" th:value="${x.id}"/>
            </td>

            <td th:text="${x.id}">
                <input type="hidden" name="id" th:value="${x.id}"/>
                <p th:text="${x.id}"></p>
            </td>

            <td>
                <a th:href="'edit?id='+${x.id}"
                   th:text="${x.companyName}">제품명</a>
            </td>
            <td>
                <p th:text="${x.companyCall}"></p>
            </td>
            <td>
                <p th:text ="${x.companyResident}"></p>
            </td>
            <td>
                <p th:text="${x.companyURL}" ></p>
            </td>
            <td>
                <input type="checkbox" readonly th:value="${x.companyEvent}"
                th:checked="${x.companyEvent == true}" />
            </td>
            <td>
                <p th:text="${x.companyStatus}" th:value ="${x.companyStatus}" ></p>
            </td>
        </tr>

        </tbody>
    </table>

</div>
<form name="deleteForm" method="post"
      action="/admin/company/delete">
    <input type="hidden" name="idList"/>

</form>
<div class="numbersPage" >
<th:block th:each="page: ${#numbers.sequence(startPage,totalNum)}">
    <a th:if="${page!=nowPage}" th:href="@{/admin/company/list(page = ${page - 1})}"  th:text="${page}"></a>
    <strong th:if="${page == nowPage}" th:text="${page}" style="color:red"></strong>
</th:block>
</div>


<script>
    $(document).ready(function () {

        $('#selectAll').on('click', function () {

            var checked = $(this).is(':checked');
            console.log(checked);


            $('#dataList input[type=checkbox]').each(function (k, v) {
                $(this).prop('checked', checked);
            });


        });

        $('#deleteBtn').on('click', function () {

            var $checked = $('#dataList input[type=checkbox]:checked');
            if ($checked.length < 1) {
                alert(' 삭제할 데이터를 선택해 주세요. ');
                return false;
            }

            if (!confirm(' 선택한 데이터를 삭제하시겠습니까? ')) {
                return false;
            }

            var idList = [];
            $.each($checked, function (k, v) {
                idList.push($(this).val());
            });


            var $deleteForm = $('form[name=deleteForm]');
            $deleteForm.find('input[name=idList]').val(idList.join(','));
            $deleteForm.submit();

        });


    });
</script>

</body>
</html>