<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/category.css" rel="stylesheet">
    <style>
        .title-area {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
        }

        .price-area #priceN {
            color: red;
        }

        h1 {
            font-family: "Century Gothic", serif;
            text-decoration: underline;
            padding-bottom: 20px;
            text-align: center;
            font-weight: bold;

        }

        .carousel-item img {
            height: 550px;
            padding-right: 25px;
        }

        .row .col-sm-9 {
            text-align: right;
        }


    </style>
</head>
<body>
<div id="wrap">
    <header>
        <div th:replace="/fragment/header.html :: fragment-body-menu"></div>
    </header>
    <div th:replace="/fragment/category.html ::fragment-cate-menu"></div>
    <br/>

    <article>
        <section class="ProductCardArea">
            <h1>Product Detail </h1>
            <div class="row justify-content-center">
                <div class="col-4">
                    <!--캐러셀 단 -->
                    <div id="carouselExampleIndicators" class="carousel slide"
                         data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="0" class="active"
                                    aria-current="true"
                                    aria-label="Slide 1"></button>
                            <button type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img th:src="${items.urlFileName}"
                                     class="d-block w-100" alt="사진이 없습니다.">
                            </div>
                            <th:block th:each="image : ${images}">
                                <div class="carousel-item">
                                    <img th:src="${image.urlFileName}"
                                         class="d-block w-100" alt="사진이 없습니다.">
                                </div>
                            </th:block>
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-4">
                    <!-- 상품 정보 관련-->
                    <div class="title-area">
                        <p th:text="${items.productName}"></p>
                    </div>
                    <div class="content-area">
                        <p th:text="${items.content}"></p>
                    </div>
                    <div class="price-area">

                        <p id="priceN" th:text="${items.price}"></p>
                    </div>


                    <div class="start-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px"
                             height="16px" viewBox="0 0 16 14">
                            <path fill="#F2616B"
                                  d="M7 10.89L2.886 13.263 3.871 8.617 0.343
                                  5.437 5.066 4.938 7 0.6 8.934 4.938 13.657
                                  5.437 10.129 8.617 11.114 13.263z"></path>
                        </svg>
                        <span></span>
                    </div>

                    <br/>
                    <span><button type="button" class="btn btn-dark"
                                  readonly="true">배송지연</button>&nbsp;결제 후 평균 5일 이후 발송되는 상품</span>
                    <dl class="row">

                        <dt class="col-sm-3">적립금</dt>
                        <dd class="col-sm-9"><input type="text" id="reserve"
                                                    name="reserve"
                                                    th:value="${reserve}"
                                                    readonly
                                                    style="text-align: right; border: none;"/>
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-sm-3">색상</dt>
                        <select id="productColor" name="productColor" required
                                class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                            <option value=" ">색상</option>
                            <option value="BLACK">BLACK</option>
                            <option value="WHITE">WHITE</option>
                            <option value="NAVY">NAVY</option>
                        </select>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">사이즈</dt>
                        <select id="productSize" name="productSize" required
                                class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                            <option value=" ">사이즈</option>
                            <option value="FREE">FREE</option>
                            <option value="XL">XL</option>
                            <option value="L">L</option>
                            <option value="S">S</option>
                        </select>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-9">개수</dt>
                        <dd class="col-sm-3">
                            <input class="form-control" type="number"
                                   name="count" id="count" th:value="${count}"
                                   min="0" placeholder="0" required
                                   style="text-align: right;"></input></dd>
                    </dl>
                    <br/>

                    <div class="d-grid gap-3 d-md-flex justify-content-md-end">

                            <button type="button" onclick="wish()"
                                    class="btn btn-outline-dark btn-lg">찜하기</button>

                            <button type="button" class="btn btn-dark btn-lg"
                                    onclick="order()">구매하기</button>

                    </div>
                </div>
            </div>

        </section>
        <form method="post" action="/order/create">
            <input type="hidden" name="productSize"/>
            <input type="hidden" name="productColor"/>
            <input type="hidden" name="price"/>
            <input type="hidden" name="couponYn"/>
            <input type="hidden" name="reserve "/>
            <input type="hidden" name="categoryName "/>
            <input type="hidden" name="count" value=""/>
        </form>

    </article>


    <div th:replace="/fragment/footer.html ::fragment-footer"></div>
</div>

<script th:inline="javascript">

    let productName = [[${items.productName}]];
    let categoryName = [[${items.categoryName}]];
    let price = [[${items.price}]];
    let reserve = [[${items.price}]] * 0.01;
    let productId = [[${items.id}]];
    let companyName = [[${items.companyName}]];
    let fileUrl = [[${items.urlFileName}]];


    let productColor = $("select[name=productColor]").val();
    let productSize = $("select[name=productSize]").val();
    let couponYn = false;


    $(document).ready(function () {

        $('#reserve').val(reserve);
        $('input[name=totalPrice]').val(price);

        $('#count').change(function () {
            let counts = $('#count').val();

            $('input[name=count]').attr('value', counts);
        });


        $('#productColor').change(function () {


            let Color = document.getElementById('productColor');
            let val = Color.options[Color.selectedIndex].value;

            productColor = $('input[name=productColor]').val(val);
            console.log(productColor);


        });


        $('#productSize').change(function () {


            let size = document.getElementById('productSize');
            let val = size.options[size.selectedIndex].value;

            productSize = $('input[name=productSize]').val(val);
            console.log(productSize);

        });


    });

    function order() {

        var url = "/order/create";

        var paramData = {
            reserve: $('input[name=reserve]').val(),
            price: price,
            productColor: $('input[name=productColor]').val(),
            productSize: $('input[name=productSize]').val(),
            couponYn: $('input[name=couponYn]').val(),
            productName: productName,
            productId: productId,
            categoryName: categoryName,
            companyName: companyName,
            count:$('input[name=count]').val()
        };

        var param = JSON.stringify(paramData);

        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/json",
            data: param,
            async: true,
            dataType: "json",
            cache: false,
            success: function (jqXHR, data, status,request) {



              let code = jqXHR.code;
              console.log(code);

                if (!confirm("결제하시겠습니까?")) {
                    location.href ='/shop/fin';
                   return false;
                }
                location.href = '/payment/create/'+code;
                //?orderCode= '+code;
            },
            error: function (jqXHR, status, error) {
                if (jqXHR.status == '401') {
                    alert('로그인 후 이용해주세요');
                    location.href = '/member/login';
                } else {
                    alert(jqXHR.responseText);

                }
            }
        });
    }

    function wish() {

        var url = "/shop/wish";

        var paramData = {
            productName: productName,
            productUrl: productId,
            categoryName: categoryName,
            companyName: companyName,
            fileUrl: fileUrl,
        }

        var param = JSON.stringify(paramData);

        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/json",
            data: param,
            async: true,
            dataType: "json",
            cache: false,
            success: function (jqXHR, data, status,request) {

                if (!confirm("찜목록을 확인하시겠습니까?")) {
                    location.href = '/';

                    return false;
                }
                location.href ='/member/myPage';
                //?orderCode= '+code;
            },
            error: function (jqXHR, status, error) {
                if (jqXHR.status === '401') {
                    alert('로그인 후 이용해주세요');
                    location.href = '/member/login';
                } else {
                    alert(jqXHR.responseText);

                }
            }
        });
    }

</script>
</body>
</html>